.gameList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 0px 4px 16px 0px #94a3b8;
    margin: 12px;
  }
  .thumbGame {
    height: 170px;
  }
  .gameView {
    display: flex;
    flex-direction: row;
  }
  .viewpad {
    margin-left: 12px;
  }
  .w {
    color: #ffffff;
  }
  .gameData2 {
    text-decoration: none;
    list-style-type: none;
  }
  